    * {
        margin: 0;
        padding: 0;
    }
    
    /* FORMATAÇÃO */
    body, html {
        width: 100%;
        background-color: #111;       /* fundo preto */
        color: #f5f5f5;               /* texto claro */
        font-size: large;
        margin: 0;
        padding: 0;
    }

    /* ITENS CABEÇALHO */
    header {
        align-items: center;          
        justify-content: center;      
        position: relative;          
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: #222 solid 5px;
    }

      
    /* IMAGEM CABEÇALHO */
    .Logo{          
        left: 0;
        height: 100%;
        padding: auto;
        text-decoration: none;
        color: gold;
    }

    /* MENU CABEÇALHO */
    #nav_principal{
        display: flex;
        gap: 20px;
        margin-left: 20px;
        align-items: center;
    }

    #nav_ul {
        display: flex;
        list-style: none;
        gap: 20px;
        margin-left: 20px;
    }


    .nav_li {
        background-color: #d4af37;
        display: flex;
        border-radius: 5px;
        padding: 5px;
        justify-content: space-between;
    }
    
    #nav_ul :hover {
        transform: translateY(-2px);
        transition: all 0.5s ease;
        background-color: #a38111;
    
    }

    .nav_li a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        height: 25px;
        width: 70px;
        padding-top: 10px;
    }
    
    /* INICIO ABA DE SERVIÇOS */
    #ServicoDetalhes {
        padding: 2rem;
        background-color: #f5f5f5;
        color: #d4af37; 
        text-align: center;
        
    }

    .TituloServico {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #d4af37;
        text-align: center;
        
    }

    h1#TituloServico {
        color: #d4af37;
        text-align: center;
        font-size: 3rem;
    }
    
    .Servico-ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
        justify-items: center;
        align-items: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .ServicoItem {
        margin: 2rem;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 1rem;
        
    }
    
    /* BACKGROUND SERVIÇO CORTE */
    .ServicoItem#Corte {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/CorteFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BACKGROUND SERVIÇO BARBA */
    .ServicoItem#Barba {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/BarbaFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BBACKGROUND SERVIÇO SOBRANCELHA */
    .ServicoItem#Sobrancelha {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/SobrancelhaFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BACKGROUND SERVIÇO DEPILAÇÃO */
    .ServicoItem#Depilação {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/DepilacaoFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    a.BotServico{
        background-color: #d4af37;
        border: none;
        color: #000;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        width: fit-content;
        align-items: center;
        justify-items: center;
    }

    a.BotServico:hover {
        transform: translateY(2px);
        transition: all 0.5s ease;
        background-color: #a38111;
      
    }

    main{
        display: flex;
        flex-direction: column;
        
    }

    

    button {
    background-color: #d4af37;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    }

     button:hover {
         background-color: #a38111;
         transform: translateY(2px);
         transition: all 0.5s ease;
      
    } 

    footer {
      text-align: center;
      color: #bfa760;
      padding: 15px;
      background-color: #000;
    }