* {
        margin: 0;
        padding: 0;
    }
    
    /* FORMATAÇÃO */
    body, html {
        width: 100%;
        background-color: #fff;       /* fundo preto */
        color: #f5f5f5;               /* texto claro */
        font-size: large;
        margin: 0;
        padding: 0;
    }

    /* ITENS CABEÇALHO */
    header {
        align-items: center;          
        justify-content: center;      
        position: relative;          
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: #222 solid 5px;
        padding-right: 2rem;
    }
    
    /* IMAGEM CABEÇALHO */
    .Logo{          
        left: 0;
        height: 100%;
        padding: auto;
        text-decoration: none;
        color: gold;
    }

    /* MENU CABEÇALHO */
    #nav_principal{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    #nav_ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }


    .nav_li{
        display: flex;
        justify-content: space-between;

    }
    
    #nav_ul :hover {
        transform: translateY(-2px);
        transition: all 0.5s ease;
        color: #a38111;
    
    }

    .nav_li a{
        color: #d4af37;
        text-decoration: none;
        font-family: sans-serif;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.2rem;
    }

    /* TITULO ABA DA EQUIPE */
    #TituloEquipe{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #d4af37;
        text-align: center;
        font-family: sans-serif;
          
    }

    /* TITULO DOS ITENS DA LISTA EQUIPE */
    .TituloEquipe{
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #d4af37;
        font-family: sans-serif;
    }

    .FotoEquipe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        border-radius: 25%;
        margin-bottom: 1rem;
    }

    #Equipe-ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .EquipeItem{
        margin-bottom: 2rem;
        border-radius: 10px;
        text-align: center;
        background-color: #222;
        width: fit-content;
        width: 70%;
        padding: 1.5rem;
        box-shadow: #000 7px 9px 15px;
    }

    
    main{
        display: flex;
        flex-direction: column;
        
    }

    

    button {
    background-color: #d4af37;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    }

     button:hover {
         background-color: #a38111;
         transform: translateY(2px);
         transition: all 0.5s ease;
      
    } 

    footer {
      text-align: center;
      color: #bfa760;
      padding: 15px;
      background-color: #000;
    }